@model InfoPortal.Common.Models.Article

@{
    ViewData["Title"] = "Content";
}

    <p>
        @Model.AddedOn
    </p>

<h1>Content</h1>

<h3 class="d-inline card-title">@Model.Name</h3>

<p>Topics</p>

<ul>
    @foreach (var theme in @Model.Themes)
    {
        <li>@theme.Name</li>
    }

</ul>

<span>
    My language:
</span>

<span>
    @Model.Language.Name
</span>



<div class="d-flex justify-content-center">
    <img style="margin-right:20px;" type="file" class="createContent" src="data:image/png;base64,@(Convert.ToBase64String(Model.Image))" />
    <video type="file" class="createContent" controls src="data:video/mp4;base64,@(Convert.ToBase64String(Model.Video))"></video>
</div>


<div style="margin-left:20px; margin-right:20px">

    <div id="content" style=" display: block; margin-left: auto; margin-right: auto; width: 30%;">
        <div id="text">@Model.Text</div>
    </div>
</div>


