@model IEnumerable<InfoPortal.Common.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Info Portal</h1>

<a href="@Url.Action("Index", "Theme")" class="d-block btn btn-success" style="width:300px; margin:30px">Themes</a>

<h2>List of articles</h2>
<!--STYLE-->
<a href="@Url.Action("Create", "Article")" class="d-block btn btn-success" style="width:300px; margin:30px">Add article</a>

@foreach (var article in Model)
{
    <div class="card" style="width: 40rem;">
        <div>
            <span class="float-left">@article.AddedOn</span>
            <span class="float-right">@article.Language.Name</span>
        </div>

        <div class="card-body">
            <h5 class="card-title">@article.Name</h5>
            <p>Themes</p>
            <img class="card-img-top" src="..." alt="Some awesome picture could be here">
            <a href="@Url.Action("Detail", "Article", new { id = article.Id})" class="d-block btn btn-primary">Show details</a>
        </div>
    </div>
}